/* CSS for app */

.btnGreen{
	-fx-background-color:  #3cbc53;
}

.background{
	-fx-background-color: DODGERBLUE;
}
.mainFxmlClass {

}

.parent{
	-fx-background-color: white;

}

.side{
	-fx-background-color: #6747CD;

}

.forgetBtn{
	-fx-text-fill: #a3a3a3;

}
.forgetBtn:hover{
	-fx-text-fill: #5848ea;
	-fx-underline:true;

}

.loginBtn{
	-fx-background-color: #6747CD;
	-fx-background-radius: 5px;
	-fx-text-fill: #FFF;

}
.loginBtn:hover{
	-fx-background-color: transparent;
	-fx-background-radius: 5px;
	-fx-text-fill: #6747CD;
	-fx-border-color:#6747CD;
	-fx-border-width:1px;
	-fx-border-style:solid;
	-fx-border-radius: 5px;

}

.closeBtn{
	-fx-fill:#4E494C;
}

.closeBtn:hover{
	-fx-fill:#5130AE;
}

.backBtn{
	-fx-fill:#545454;
}

.backBtn:hover{
	-fx-fill:#5130AE;
}

.button:hover{
	-fx-background-color : #938787;
	-fx-background-radius : 0px;
	-fx-border-color : #C80000;
	-fx-border-width : 0px 0px 0px 4px;
	-fx-border-style : solid;
}

.closeBtn:hover{
	-fx-background-color : red;
	color: white;
	opacity: 0px;
}

.chart-bar {
	-fx-background-color: rgba(0,168,355,0.05);
	-fx-border-color: rgba(0,168,355,0.3) rgba(0,168,355,0.3)
	transparent rgba(0,168,355,0.3);
	-fx-background-radius: 0;
	-fx-background-position: left center;
}

.data0.chart-bar {
	/**-fx-background-image: url("..\..\images\lap.png");**/
	-fx-background-color: green;
}
.data1.chart-bar {

	-fx-background-color: red;
}
.data2.chart-bar {

	-fx-background-color: black;
}
.data3.chart-bar {

	-fx-background-color: blue;
}
.data4.chart-bar {

	-fx-background-color: gray;
}

.date-picker-popup .calender-grid {
	-fx-pref-width: 300;
	-fx-pre-height: 250;
}
.date-picker-popup .spinner-label {
	-fx-font-size: 30.0;
	-font-size: 30.0;
}
